{% extends "base.html" %}

{% block title %}Вход администратора{% endblock %}

{% block content %}
<div class="auth-wrapper">
  <div class="auth-card admin-card animate-fade-up">
    <h1 class="title">Вход администратора</h1>
    <p class="subtitle">Просмотр посещаемости по группам.</p>

    {% if error %}
      <div class="alert alert-error animate-pop">{{ error }}</div>
    {% endif %}

    <form method="post" action="/admin/login" class="form">
      <label class="form-label">Login</label>
      <input type="text" name="username" class="input" required placeholder="Login">

      <label class="form-label">Password</label>
      <input type="password" name="password" class="input" required placeholder="Password">

      <button type="submit" class="btn btn-primary btn-big">
        Войти
      </button>
    </form>
  </div>
</div>
{% endblock %}
