{% extends "base.html" %}

{% block title %}
    {% if lang == 'kk' %}Жүйеге кіру{% else %}Вход в систему{% endif %}
{% endblock %}

{% block content %}
<div class="page login-page">
    <div class="card card-form animate-fade-up">
        <h1 class="title">
            {% if lang == 'kk' %}Қатысуды белгілеу{% else %}Отметка посещаемости{% endif %}
        </h1>
        <p class="subtitle">
            {% if lang == 'kk' %}
                Логин мен құпия сөзді енгізіңіз
            {% else %}
                Введите логин и пароль
            {% endif %}
        </p>

        {% if error %}
        <div class="alert alert-error animate-pop">
            {{ error }}
        </div>
        {% endif %}

        <form method="post" action="/login" class="form">
            <label class="form-label">
                {% if lang == 'kk' %}Логин{% else %}Логин{% endif %}
            </label>
            <input type="text" name="login" class="input" required placeholder="student01">

            <label class="form-label">
                {% if lang == 'kk' %}Құпия сөз{% else %}Пароль{% endif %}
            </label>
            <input type="password" name="password" class="input" required>

            <button type="submit" class="btn btn-primary btn-big">
                {% if lang == 'kk' %}Кіру{% else %}Войти{% endif %}
            </button>
        </form>
    </div>
</div>
{% endblock %}
